<section>
  <!--  class content limits the width from the section to 1600px     -->
  <div class="content">
      <div class="col col-4-12">
        <h2>Formation</h2>
        <div *ngFor="let presentations of presentation">
            <div *ngIf="checkTitle(presentations.titre, 'Formation')">
              <p>{{presentations.date_donnee}}{{presentations.texte_donnee}}</p>
            </div>
        </div>
        <h2>Informatique</h2>
          <div *ngFor="let presentations of presentation">
            <div *ngIf="checkTitle(presentations.titre, 'Informatique')">
                <p>{{presentations.texte_donnee}}</p>
            </div>
          </div>
        <h2>Compétences</h2>
        <div *ngFor="let presentations of presentation">
            <div *ngIf="checkTitle(presentations.titre, 'Compétences')">
                <p>{{presentations.texte_donnee}}</p>
            </div>
        </div>
      </div>

      <div class="col col-4-12 last">
        <h2>Langues</h2>
        <div *ngFor="let presentations of presentation">
          <div *ngIf="checkTitle(presentations.titre, 'Langues')">
                <p>{{presentations.texte_donnee}}</p>
            </div>
        </div>
        <h2>Centres d’intérêts</h2>
        <div *ngFor="let presentations of presentation">
          <div *ngIf="checkTitle(presentations.titre, 'Centres d’intérêts')">
                <p>{{presentations.texte_donnee}}</p>
            </div>
        </div>
        <h2>Qualités</h2>
        <div *ngFor="let presentations of presentation">
            <div *ngIf="checkTitle(presentations.titre, 'Qualités')">
                <p>{{presentations.texte_donnee}}</p>
            </div>
        </div>
      </div>

    <!-- clear page disposition      -->
    <div class="clear"></div>
  </div>
</section>
