<section>
  <!--  class content limits the width from the section to 1600px     -->
  <div class="content">
    <!--  Title from the page presenting some works of mine          -->
    <h2>Création de Site Web et Base de données</h2>

    <div *ngFor="let work of works">
      <div class="col col-4-12 {{work.id ? 'last' : ''}} ">
        <div *ngIf="work.img != null || work.img != ''">
          <img src="../assets/images/{{work.img}}" alt="image not found">
        </div>
        <p>{{work.description}}</p>
        <a href="{{work.link}}">Lien du travail</a>
      </div>
    </div>

    <!-- clear page disposition      -->
    <div class="clear"></div>

    <!--  informative text about the previous columns containing images and some text         -->
    <div class="text-works center" style="margin-top: 100px;">
      <p>Les divers exemples que vous voyez ci-dessus ont été réalisé lors de la formation “ Développeur Web Seraing Sup “ et constituent une représentation imagé de mes capacités.</p>
      <p class="brown-color">Pour plus d’amples, cliquez sur le lien ETC ...</p>
    </div>

  </div>
</section>
